[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "*"
six = "*"
pandas = "*"
numpy = "*"
dash = "*"
openpyxl = "*"
pytz = "*"
python-dateutil = "*"
Brotli = "*"
MarkupSafe = "*"
Jinja2 = "*"
dash-labs = "*"
dash-bootstrap-components = "*"

[dev-packages]

[requires]
python_version = "3.10"
